<form id="filter-form" action="/query" method="get">
  <div class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control" id="query" placeholder="Query..." name='query' size="60" value="<%= h @query.attributes[:query] if @query %>">
    </div>
    <div class="form-group">
      <a class="btn btn-default" id="superDatePickerBtn" role="button" data-toggle="collapse" href="#superDatePicker" aria-expanded="false" aria-controls="superDatePicker">
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span> <span class="super-date-picker__period-title" data-default-title="Period...">Period...</span>
      </a>
    </div>
    <div class="checkbox">
      <label>
        <input id="filter-follow" type="checkbox" name="follow" <%= 'checked="checked"' if @query && @query.follow? %>> Follow
      </label>
    </div>
    <% if @query %>
      <button type="button" class="btn btn-info" id="save-query">Save</button>
    <% end %>
    <button type="submit" class="btn btn-default">Send</button>
  </div>
  <div id="superDatePicker" class="collapse super-date-picker">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label for="time_from">From:</label>
              <div class="input-group input-group-sm date">
                  <input type="text" class="form-control" id="time-from" name='time_from' size="10" value="<%= h @query.attributes[:time_from] if @query %>">
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
            <div class="form-group">
              <label for="time_to">To:</label>
              <div class="input-group input-group-sm date">
                  <input type="text" class="form-control" id="time-to" name='time_to' size="10" value="<%= h @query.attributes[:time_to] if @query %>">
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <div class="btn-group-vertical btn-group-xs super-date-picker__quick-item-group" role="group">
                <% Loghouse::SUPER_DATEPICKER_PRESETS[:last_days].each do |p| %>
                  <a role="button" class="btn btn-default super-date-picker__quick-item" data-from="<%= p[:from] %>" data-to="<%= p[:to] %>"><%= p[:name] %></a>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <div class="btn-group-vertical btn-group-xs super-date-picker__quick-item-group" role="group">
                <% Loghouse::SUPER_DATEPICKER_PRESETS[:last_day].each do |p| %>
                  <a role="button" class="btn btn-default super-date-picker__quick-item" data-from="<%= p[:from] %>" data-to="<%= p[:to] %>"><%= p[:name] %></a>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>
