<% if @to_clickhouse %>
  <div id="toClickhouse" class="search-params-popover">
    <div class="panel panel-default">
      <div class="panel-body">
        <pre><%= h @to_clickhouse %></pre>
      </div>
    </div>
  </div>
<% end %>

<div id="queryPicker" class="search-params-popover">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="list-group">
        <% @queries.each do |q| %>
          <a href="/query?query_id=<%= q.id %>" class="list-group-item">
            <%= q.attributes[:name] %>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="showHideKeys" class="search-params-popover">
  <div class="panel panel-default">
    <div class="panel-body">
      SKIP keys: <input name="skip_keys" class="skip-keys" size="50"/>
    </div>
  </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="row">
    <div class="col-xs-8">
      <form id="filter-form" action="/query" method="get">
        <div id="superDatePicker" class="search-params-popover">
          <div class="panel panel-default">
            <div class="panel-body">
              <%= erb :_super_date_picker %>
            </div>
          </div>
        </div>
        <div class="navbar-form">
          <div class="input-group">
            <input type="text" class="form-control" id="query" placeholder="Query..." name='query' size="60" value="<%= h @query.attributes[:query] if @query %>">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default btn-transparent">Send</button>
            </span>
          </div>
          <div class="form-group" data-toggle="tooltip" title="Save query">
            <a role="button" class="btn btn-link btn-link-alt<% if !@query %> disabled<% end %>" <% if @query %> id="save-query"<% end %>><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></a>
          </div>
          <div class="form-group" data-toggle="tooltip" title="Load query">
            <a role="button" class="btn btn-link btn-link-alt search-params-btn<% if (@queries.length == 0) %> disabled<% end %>" role="button" data-target="#queryPicker"><span class="glyphicon glyphicon glyphicon-th-list" aria-hidden="true"></span></a>
          </div>
          <div class="form-group" data-toggle="tooltip" title="Show clickhouse info">
            <a class="btn btn-link btn-link-alt <% if @to_clickhouse %>search-params-btn<% else %>disabled<% end %>" role="button" data-target="#toClickhouse"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
          </div>
          <div class="form-group" data-toggle="tooltip" title="Show/Hide keys">
            <a class="btn btn-link btn-link-alt toggle-show-hide-keys search-params-btn disabled" role="button" data-target="#showHideKeys"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></a>
          </div>
          <div class="form-group">
            <a class="btn btn-link btn-link-alt search-params-btn" id="superDatePickerBtn" role="button" data-target="#superDatePicker" data-toggle="tooltip" data-default-title="" data-original-title="Set period"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> <span class="super-date-picker__period-title"></span></a>
          </div>
        </div>
      </form>
    </div>
    <div class="col-xs-4" align="right">
      <div class="navbar-form">
        <div class="form-group" data-toggle="tooltip" title="Add breakpoint">
          <a role="button" class="btn btn-link btn-link-alt" id="breakpointBtn"><span class="glyphicon glyphicon-eject" aria-hidden="true"></span></a>
        </div>
        <div class="form-group" data-toggle="tooltip" title="Play">
          <a role="button" class="btn btn-link btn-link-alt" id="playBtn"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a>
        </div>
        <div class="form-group" data-toggle="tooltip" title="Pause">
          <a role="button" class="btn btn-link btn-link-alt disabled" id="pauseBtn"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span></a>
        </div>
      </div>
    </div>
  </div>
</nav>
