<span class="entry-timestamp">[<%= entry.timestamp.strftime("%Y-%m-%d %H:%M:%S.%N") %>]</span>
<% entry.strings.each do |k, v| %>
  <span class="entry-key"><%= k %></span>: <span class="entry-value"><%= v %></span>
<% end %>

<% entry.numbers.each do |k, v| %>
  <span class="entry-key"><%= k %></span>: <span class="entry-value"><%= v %></span>
<% end %>

<% entry.booleans.each do |k, v| %>
  <span class="entry-key"><%= k %></span>: <span class="entry-value"><%= v ? 'true' : 'false' %></span>
<% end %>

<% entry.nulls.each do |k| %>
  <span class="entry-key"><%= k %></span> <span class="entry-value">is NULL</span>
<% end %>
