<span class="logs-result__entry_timestamp"><%= entry.timestamp.strftime("%Y-%m-%d %H:%M:%S.%N") %></span>

<% entry.strings.each do |k, v| %>
  <span class="logs-result__entry_key"><%= k %>:</span> <span class="logs-result__entry_value"><%= v %></span>
<% end %>

<% entry.numbers.each do |k, v| %>
  <span class="logs-result__entry_key"><%= k %>:</span> <span class="logs-result__entry_value"><%= v %></span>
<% end %>

<% entry.booleans.each do |k, v| %>
  <span class="logs-result__entry_key"><%= k %>:</span> <span class="logs-result__entry_value"><%= v ? 'true' : 'false' %></span>
<% end %>

<% entry.nulls.each do |k| %>
  <span class="logs-result__entry_key"><%= k %>:</span> <span class="logs-result__entry_value">is NULL</span>
<% end %>
