<% range ||= false %>
<div class="row super-date-picker">
  <div class="col-md-4">
    <% if !range %>
      <div class="form-group">
        <label for="seek_to">Seek To:</label>
        <div class="input-group input-group-sm date">
            <input type="text" class="form-control" id="seek-to" name="seek_to" size="10" value="<%= h @query.attributes[:seek_to] if @query %>">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
      </div>
    <% else %>
      <div class="form-group">
        <label for="time_from">From:</label>
         <div class="input-group input-group-sm date">
            <input type="text" class="form-control" id="time-from" name="time_from" size="10" value="<%= h @query.attributes[:time_from] if @query %>">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
      </div>
      <div class="form-group">
        <label for="time_to">To:</label>
        <div class="input-group input-group-sm date">
            <input type="text" class="form-control" id="time-to" name="time_to" size="10" value="<%= h @query.attributes[:time_to] if @query %>">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
      </div>
    <% end %>
    <div class="form-group">
      <a role="button" class="btn btn-default btn-xs btn-block super-date-picker__reset">Reset</a>
    </div>
  </div>
  <% if !range %>
    <div class="col-md-4">
      <div class="form-group">
        <div class="btn-group-vertical btn-group-xs super-date-picker__quick-item-group" role="group">
          <% Loghouse::SUPER_DATEPICKER_PRESETS[:seek_to].each do |st| %>
            <a role="button" class="btn btn-default super-date-picker__quick-seek-to"><%= st %></a>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="col-md-4">
      <div class="form-group">
        <div class="btn-group-vertical btn-group-xs super-date-picker__quick-item-group" role="group">
          <% Loghouse::SUPER_DATEPICKER_PRESETS[:last_days].each do |p| %>
            <a role="button" class="btn btn-default super-date-picker__quick-item" data-from="<%= p[:from] %>" data-to="<%= p[:to] %>"><%= p[:name] %></a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <div class="btn-group-vertical btn-group-xs super-date-picker__quick-item-group" role="group">
          <% Loghouse::SUPER_DATEPICKER_PRESETS[:last_day].each do |p| %>
            <a role="button" class="btn btn-default super-date-picker__quick-item" data-from="<%= p[:from] %>" data-to="<%= p[:to] %>"><%= p[:name] %></a>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
