<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Loghouse</title>

    <link href="<%= url('app/css/app.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="ng-app-root-element" ng-app="loghouseApp" ng-strict-di>
      <base href="/">
      <div class="view-container">
        <div ui-view class="view-frame"></div>
      </div>
    </div>

    <script type="text/javascript">
      window.appContext = {
        version: "<%= version %>",
        currentUser: <%= User.current.to_json %>,
        kubernetesAttributes: <%= LogsTables::KUBERNETES_ATTRIBUTES.keys.to_json %>
      };
    </script>
    <script src="<%= url('app/js/app.js') %>" charset="utf-8"></script>
  </body>
</html>
