<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Loghouse</title>

    <!-- Bootstrap -->
    <link href="<%= url('vendor/bootstrap/css/bootstrap.min.css') %>" rel="stylesheet" type="text/css" />
    <link href="<%= url('vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css') %>" rel="stylesheet" type="text/css" />

    <link href="<%= url('assets/stylesheets/main.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Loghouse</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li <%= 'class="active"' if @tab.blank? %>><a href="/">Home</a></li>
            <li <%= 'class="active"' if @tab == :queries %>><a href="/queries">Queries</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="error-container">
      <div class="container-fluid">
        <% unless @error.nil? %>
          <div class="alert alert-danger alert-dismissible" role="alert">
            <%= @error %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        <% end %>
      </div><!-- /.container -->
    </div>

    <%= yield %>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="<%= url('vendor/jquery-3.2.1.min.js') %>" charset="utf-8"></script>
    <script src="<%= url('vendor/moment-with-locales.min.js') %>" charset="utf-8"></script>
    <script src="<%= url('vendor/bootstrap/js/bootstrap.min.js') %>" charset="utf-8"></script>
    <script src="<%= url('vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') %>" charset="utf-8"></script>

    <script src="<%= url('assets/javascripts/search-params.js') %>" charset="utf-8"></script>
    <script src="<%= url('assets/javascripts/main.js') %>" charset="utf-8"></script>
  </body>
</html>
